.navigation-bar {
  list-style:none;
  display: flex;
  justify-content: flex-end;
  background-color:#4fccff;
  height: 50px;
  gap:20px;
}
.li {
  color: white;
  padding: 10px;
}
.li: hover {
 color: blue;
}