.navigation-bar {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  background-color: #4fccff;
  height: 50px;
  row-gap: 20px;
  column-gap: 10px;
}
.li {
  color: white;
  padding: 10px;
}
.li: hover {
  color: blue;
}
